/**********
BASE STUFF
**********/

@import url('https://fonts.googleapis.com/css?family=Sarabun:800');

h1 { 
	font-family: "Sarabun", sans-serif;
	font-size: 30px; 
	color: #236cdb;
}

h2{
	border-bottom: 1px solid #236cdb;
}

figure {
  display: table-cell;
  vertical-align: middle;
}

figcaption{
	text-align: center;
	justify-content: center;
	padding-right: 30px;
	margin-bottom: 10px;
}

html, body {
	font-family: Segoe UI,Arial,sans-serif;
	margin: 0;
	height: 100%;
	min-height: 100%;
}

body { 
	/*background-color: #eaecef;*/
			background-color: #c6c6c6;
	 }

footer {
	background-color: #3f3d3d;
	text-align: center;
	flex: none;
	padding: 40px 40px;
	color: white;
}

a {
	color: white; 
	text-decoration: none;
}

img {
	width: 100%;
}


/**********
END BASE STUFF
**********/

/**********
CLASSY STUFF
**********/

.container {
	font-size: 1.1em;
	margin: 0 auto;
	width: 90%;
	max-width: 960px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.topspot{
	background-color: white;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.fph2 { font-size: 18px; }

.wrapper {
  margin-top: 20px;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 10px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.slant {
	padding-top: 30px;
	padding-bottom: 30px;
	font-style: italic;
	text-align: center;
  	margin-top: 20px;
}

.homelinks {
	color: black; 
	text-decoration: none;
}

.homepage { text-align: center; }

.is-current {
	border-bottom: 5px solid #f20e0e;
	color:#f20e0e ;
	font-weight: bold;
}

/**********
END CLASSY STUFF
**********/

/**********
GRID STUFF
**********/

.wrapper2, .wrapper3 {
  margin-top: 20px;
  justify-content: space-around;
  display: grid;
  grid-template-columns: 60% 30%;
  grid-gap: 10px;
  grid-row-gap: 0px;
}

.box, .box2 {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.x, .m {
	border-radius: 0px;
	padding-top: 0px;
	grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.y, .n {
	border-radius: 0px;
	margin: 0;
  	padding: 0;
  	height: 100%;
  	width: 100%;
  	display: table;
	padding-top: 0px;
	grid-column: 2 / 2;
    grid-row: 1 / 1;
}

.m {
	border-top: 1px solid #236cdb;
}

.one{
	grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.two {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.tre {
	grid-column: 3 / 4;
    grid-row: 1 / 2;
}

/**********
END GRID STUFF
**********/

/**********
NAV STUFF
**********/

.nav { 
	text-align: right; 
}

.nav ul{
	list-style: none;
	padding-top: 24px;
	margin-right: 200px;
}

.nav ul li { display: inline-block; }

.nav ul li a{
	text-decoration: none; 
	margin: 1px;
	margin: 10px 10px 5px 10px;
}

.nav ul li a:hover { 
	border-bottom: 5px solid white;
}

.navbar {
	width: 100%;
	background-color: #3f3d3d;
	min-height: 75px;
	margin-top: -16px;
	background-image: url("../images/logo01.png");
	background-repeat: no-repeat;
	background-size: 250px;
	background-position: 20%;
}

/**********
END NAV STUFF
**********/

/**********
MOBILE STUFF
**********/

@media  (max-width: 1090px) {
	.nav ul{ margin-right: 100px;}
	.navbar { background-position: 5%; }
}

@media  (max-width: 856px) {
	.nav ul{ margin-right: 50px;}
	.navbar { background-position: 0%; }
}

@media  (max-width: 773px) {
	.nav ul li { font-size: 12px; }
	.navbar { background-size: 175px; }
	.wrapper { display: inline-block; }
	.box { margin-bottom: 20px; }
	.wrapper2, .wrapper3 { display: inline-block;  }
	figcaption { margin-bottom: 10px; }
	img { 
		width: 50%; 
		padding-left: 30%;
	}
}

@media  (max-width: 610px) {
	.nav ul{ margin-right: 5px;}
	.nav ul li a {margin: 10px 0px 5px 10px;}
}

@media  (max-width: 514px) {
	.navbar { background-size: 125px; }
}

@media  (max-width: 469px) {
	.navbar { background-image: none; }
	.nav { text-align: center; }
	.nav ul{ margin-right: 20px;}
}

@media  (max-width: 416px) {
	.nav { text-align: left; }
	.nav { margin-left: -10px; }
}

@media  (max-width: 394px) {
	.nav { margin-left: -20px; }
}

@media  (max-width: 384px) {
	.nav { margin-left: -30px; }
	
}

@media  (max-width: 376px) {
	.nav { margin-left: -40px; }
	.nav ul li a {margin: 5px 0px 0px 5px; }
}

@media  (max-width: 345px) {
	.nav ul li { font-size: 11px; }
}

/**********
END MOBILE STUFF
**********/





